
/* css reset */
html, body, header, nav, h1, h2, h3, h4, h5, h6, a,
ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

.canvas{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100%; 
    padding: 0;
    position: relative;
    background: #77A1D3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#user-input{
    position: absolute;
    top: 300px;
    left: 300px;
    height: 50px;
    width: 200px;
    font-size: 30px;
    padding: 8px 10px;
    background-color: white;
    outline: none;
}
body {
    font-family: 'Handlee', cursive;
    letter-spacing: 1px;
    font-size: 20px;
    width: 100vw; /*lay max cai screen hien tai*/
    height: 100vh;
    position: relative;
    background-image: url("asset/icons/background.jpeg");
    background: #77A1D3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    overflow: hidden;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0px 10px;
    margin-top: 0px;
}

.contact img {
    width: 60px;
    height: 60px;
}
.contact div {
 padding: 10px;
}

.game-title {
    width: 100%;
  text-align: center;
  font-family: 'Tourney', cursive;
  color: #FF5C58;
  font-size: 70px;
  padding-bottom: 0;
}

.nav-bar p {
    margin: 0;
    color: white;
    background-color: none;
    display: block;
    font-size: 40px;
    height: 50px;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
}
.nav-bar{
    display: flex;
    padding-top: 10px;
    padding-bottom: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

#popupStart, #popupEnd{
    /* background-image: url("../../asset/icons/cat7.jpeg"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../asset/icons/cat7.jpeg');
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* center chieu ngang*/
    padding: 20px 20px;
}

#popupEnd{
    display: none;
}

#end, #start {
    width: 200px;
    height: 40px;
    margin-top: 50px;
    text-align: center;
    background-color: #39A6A3;
    cursor: pointer;
    font-weight: bold;
}
.introduction, .endGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 560px;
    height: 620px;
    background-color: #D1E8E4;
}
.endGame{
    background-color: #F0D9E7;
}

#start:hover{
    background-color: #5F939A;
}
#end:hover{
    background-color: #5F939A;
}
.introduction > p {
    padding: 50px 25px;
    color: #7952B3;
    font-size: 30px;
    text-align: center;
    /* padding-left: 30px; */
}
#popup-title {
    margin-top: 50px;
    font-size: 60px;
    font-family:'Finger Paint', cursive;
    color: #DF5E5E;
    /* font-family:'Coiny', cursive; */
}

.demonstration {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.demonstration-img {
    height: 50px;
    width: 80px;
}

.demonstration p {
    font-size: 25px;
    color: #7952B3;
    padding-right: 20px;
}

.endGame p {
    padding: 50px 25px;
    color: #7952B3;
    font-size: 30px;
    text-align: center;
}
/* .highlight{
    background-color: aquamarine;
} */

/* .done {
    background-color: gainsboro;
} */